DJANGO_SECRET_KEY=poner-clave-segura
DEBUG=False

ALLOWED_HOSTS=midominio.cl,www.midominio.cl
CSRF_TRUSTED_ORIGINS=https://midominio.cl,https://www.midominio.cl
CORS_ALLOWED_ORIGINS=https://midominio.cl,https://www.midominio.cl

DB_ENGINE=django.db.backends.postgresql
DB_NAME=bd_pagina
DB_USER=admin_pagina
DB_PASSWORD=poner-password
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=bd_pagina
POSTGRES_USER=admin_pagina
POSTGRES_PASSWORD=poner-password

VITE_API_URL=/api
VITE_MEDIA_URL=

EMAIL_BACKEND=django_ses.SESBackend
AWS_ACCESS_KEY_ID=TU_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=TU_AWS_SECRET_ACCESS_KEY
AWS_SES_REGION_NAME=us-east-1
DEFAULT_FROM_EMAIL=contacto@mundacasolutions.com
SERVER_EMAIL=contacto@mundacasolutions.com
SITE_URL=https://midominio.cl
